@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: white;
}
.active{
    display: block;
}
.scroll__top {
    display: none;
    position: fixed;
    right: 3%;
    bottom: 4%;
    width: 40px;
    height: 50px;
    background: #2E8EDA;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 20px 44px #2e8dda80;
    color: white;
    z-index: 999;
    cursor: pointer;
    i {
        font-size: 30px;
    }
}

.logo {
    max-width: 90px;
    height: 90px;
    margin-right: 10px;
    font-size: 24px;
}
.header__logo__address {
    a{
        color: #2E8EDA;
        display: flex;
        align-items: center;
        text-decoration: none;
        font-weight: 700;
        
    }
   
}



.header__weather-money{
   
    .weather-logo{
        color: #F8B62D;
        margin-right: 5px;
        font-size: 35px; 
    }
    .weather{
        p{
            margin: 0;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #2E8EDA;
        }
        .weather-dropdown-btn{
            padding: 0;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #2E8EDA;
            &:focus{
                box-shadow: none;
            }
        }
        .weather-dropdown-menu{
            a{
                font-weight: 500;
                font-size: 12px;
                padding: 4px 12px;
                &:hover{
                    color: #fff;
                    background-color: #1EB53A;
                }
            }
        }
    }
    .money-btn{
        background: rgba(255, 255, 255, 0.15);
        border-radius: 7px;
        padding: 11px 8px;
        color: #2E8EDA;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        &:focus{
            box-shadow: none;
        }
    }
    .money-dropdown-menu{
        a{
            font-weight: 500;
            font-size: 12px;
            padding: 4px 12px;
            &:hover{
                color: #fff;
                background-color: #2E8EDA;
            }
        }
    }
    .money-degree{
        p{
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #848E9F; 
            margin: 0;
            margin-bottom: 6px;
        }
        h5{
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #2E8EDA;
            margin: 0;
            i{
                font-size: 15px;
            }
        }
    }
    .purchase{
        i{
            color: #00BC1E;
            transform: translateY(-3px);
        }
    }
    .sell{
        i{
            color: #BC0000;
            transform: translateY(3px);
        }
    }
}
.header__logo__address {
    padding: 25px 0 0;
}
.header__logo__address-icon-lang {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    .dropdown-menu{
        background-color: white;
        color: white;
        min-width: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        .dropdown-item:hover{
            background-color: #2E8EDA;
            color: white;
        }
    }
    .btn{
        background-color: transparent;
        border: 2px solid #2E8EDA;
        border-radius: 20px;
        color: #2E8EDA;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }
    i {
        margin: 0 10px;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
    }
    select {
        margin-left: 20px;
    }
}

.main__menu {
    width: 100%;
    background: #2E8EDA;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    .menu__btn {
        color: #fff;
        display: none;
    }
    ul {
        display: flex;
        margin-bottom: 0;
        .menu__close{
            display: none;
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
            transition: all 0.6s;
            &:hover{
                transform: rotate(180deg);
            }
        }
        li{
            display: flex;
            flex-direction: column;
            position: relative;
            margin: 0 10px;
            a {
                display: inline-block;
                color: white;
                font-size: 12px;
                font-weight: 700;
                padding: 30px 0;
                text-decoration: none;
                position: relative;
                transition: 0.5s;
                text-transform: uppercase;
                &::after {
                    content: '';
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    top: -2px;
                    left: 0;
                    background-color: black;
                    transition: 0.5s;
                    transform: scaleX(0);
                }
                &:hover::after {
                    transform: scaleX(1);
                }
                &:hover {
                    text-shadow: 0 0 5px rgba(255, 255, 255, 0.74);
                }
            }
        }
        .dropdown__parent{
                display: inline-block;
                text-transform: uppercase;
                color: white;
                font-size: 12px;
                font-weight: 700;
                margin-right: 0px;
                padding: 30px 0;
                text-decoration: none;
                position: relative;
                transition: 0.5s;
                &::after {
                    content: '';
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    top: -2px;
                    left: 0;
                    background-color: black;
                    transition: 0.5s;
                    transform: scaleX(0);
                }
                &:hover::after {
                    transform: scaleX(1);
                }
                &:hover {
                    cursor: pointer;
                    text-shadow: 0 0 5px rgba(255, 255, 255, 0.74);
                }
                .dropdown__menu{
                    display: flex;
                    flex-direction: column;
                    background-color: #fff;
                    position: absolute;
                    left: 0;
                    top: 70%;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4),
                                0 2px 4px rgba(0, 0, 0, 0.3);
                    z-index: 10;
                    display: none;
                    transition: height 1s;
                    li{
                        min-width: 200px;
                        padding: 5px;
                        cursor: auto;
                        border-bottom: 1px solid #d9dadd;
                        a{
                            padding: 0;
                            color: #555;
                            text-transform: capitalize;
                            font-size: 12px;
                            font-weight: 400;
                        }
                    }
                }
        }
    }
}

.office_phone {
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    &:hover{
        color: white;
        text-decoration: none;
    }
}

.header__bg {
    height: auto;
    min-height: 500px;
    background:  url('../images/Hero.png') no-repeat center center / cover;
    .slide{
        h1{
            font-weight: 700;
            font-size: 56px;
            line-height: 82px;
            text-align: center;
            color: #FFFFFF;
            margin: 156px 0 31px;
            text-transform: uppercase;
        }
        p{
            font-weight: 500;
            font-size: 20px;
            line-height: 32px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 50px;
        }
        .slider__btns{
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                padding: 18px 56px 17px 57px;
                border-radius: 27.5px;
                color: #fff;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                border: 1px solid #FFFFFF;
                &:hover{
                    text-decoration: none;
                }
            }
            .more_info{
                border: 1px solid white;
                background: #2E8EDA;
                margin-right: 13px;
            }
            .contact__btn{
                background: rgba(255, 255, 255, 0.19);
            }
        }
    }
    .header__down_btn{
        width: 35px;
        height: 54px;
        display: block;
        margin: 140px auto 155px;
        border: 1px solid #FFFFFF;
        border-radius: 17.5px;
        padding: 17px 10px;
        color: #fff;
        animation: anim 1s infinite alternate;
        &:hover{
            cursor: pointer;
        }
    }
    .header__progress{
        width: 100%;
        height: 4px;
        background-color: #fff;
        margin-bottom: 24px;
        .progress__line{
            width: 40%;
            height: 100%;
            background-color: #2E8EDA;
        }
    }
    .afzallik{
        padding-left: 15px;
        li{
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            color: #2E8EDA;
            list-style: circle;
        }
    }
    .dostona{
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        text-align: justify;
    }
    .trinity__boxes{
        display: flex;
        width: 100%;
        border-radius: 7px;
        &-text{
            width: 65%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 22px 18px;
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;
            background-color: #fff;
            h5{
                font-weight: 700;
                font-size: 18px;
                line-height: 32px;
                color: #000000;
            }
            a{
                i{
                    color: rgb(40, 58, 94);
                    transform: rotate(45deg);
                }
            }
        }
        &-img{
            width: 35%;
            border-top-right-radius: 7px;
            border-bottom-right-radius: 7px;
        }
    }
    .about__inner {
        width: 100%;
        height: auto;
        .about__inner-item {
            // overflow: hidden;
            padding-bottom: 300px;
            position: relative;
            h2 {
                font-style: normal;
                font-weight: bold;
                font-size: 56px;
                line-height: 82px;
                text-align: center;
                color: white;
                margin-top: 50px;
            }
            p {
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 28px;
                text-align: center;
                color: #FFFFFF;
                margin-bottom: 100px;
            }
            img {
                // width: 100%;
                height: 600px;
                position: absolute;
                left: 50%;
                top: calc(50% + 300px);
                transform: translate(-50%, -50%);
            }
        }
    }
}

#about {
    background-color: #fff;
    padding: 60px 0 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

.about__col {
    img {
        border-radius: 10px;
    }
    .video__btn {
        position: absolute;
        left: 50px;
        bottom: 30px;
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 20px;
    }
    .green_text {
        color: #2E8EDA;
        font-size: 20px;
        font-weight: 700;
        position: relative;
        padding-left: 40px;
        line-height: 32px;
        &::after {
            content: '';
            width: 30px;
            height: 2px;
            background-color: #2E8EDA;
            position: absolute;
            top: 50%;
            left: 0;
        }
    }
    h3 {
        font-size: 36px;
        line-height: 50px;
        color: #000;
    }
    .about_index__text {
        font-size: 16px;
        line-height: 26px;
        color: #848E9F;
        font-weight: 500;
    }
    a {
        color: #2E8EDA;
        font-size: 20px;
        line-height: 32px;
        font-weight: 500;
    }
}

.about__map {
    padding: 70px 0 60px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../images/bg_map.png);
    .map__box {
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #EDEDED;
        border-radius: 10px;
        padding: 30px 15px 40px;
        transition: 0.7s;
        &:hover {
            background-color: #2E8EDA;
            cursor: default;
        }
        &:hover p {
            color: #fff;
        }
        p {
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            text-align: center;
            color: #000;
            transition: 0.5s;
        }
        .box__img {
            width: 100%;
            text-align: center;
            position: relative;
            margin: 45px auto;
            .circle {
                stroke: #2E8EDA;
                fill: #fff;
                transition: 0.7s;
            }
            .resurs {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                fill: #2E8EDA;
                transition: 0.7s;
            }
        }
        &:hover .circle {
            fill: #2E8EDA;
            stroke: #fff;
        }
        &:hover .resurs {
            fill: #fff;
        }
        .info__number {
            font-weight: bold;
            font-size: 32px;
            line-height: 26px;
            text-align: center;
            color: #000;
        }
    }
}

#news {
    background-color: #fff;
    .news-btns {
        background-color: #F4F4F4;
        border-radius: 10px;
        padding: 7px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 28px;
        button {
            width: 48%;
            padding: 15px 0;
            border-radius: 10px;
            font-size: 20px;
            font-weight: 600;
            color: #8B8B8B;
            border: none;
            background-color: #fff;
            transition: 0.6s;
            &:hover {
                background-color: #2E8EDA;
                color: #fff;
            }
        }
    }
    .big__news {
        .big__news__photos {
            width: 100%;
            position: relative;
            img {
                border-radius: 5px;
                height: 702px;
            }
            .shadow {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                left: 0;
                background-color: #2e8dda7a;
                border-radius: 5px;
                opacity: 0;
                transition: 0.6s;
                a {
                    border: 1px solid #fff;
                    color: #fff;
                    padding: 15px 50px;
                    font-size: 20px;
                    font-weight: 600;
                }
            }
            &:hover .shadow {
                opacity: 1;
            }
        }
    }
    .small__news {
        img {
            border-radius: 5px;
            height: 217px;
        }
    }
    .type {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        line-height: 15px;
        padding: 7px 18px;
        background: #FC6215;
        color: #fff;
        border-radius: 5px;
        margin: 16px 0 10px;
    }
    .news__title {
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
        margin-bottom: 9px;
    }
    .news__text {
        font-size: 14px;
        line-height: 21px;
        color: #848E9F;
        text-align: justify;
        margin-bottom: 11px;
    }
    .info-time {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #BDC1D6;
        i {
            margin-right: 7px;
        }
        span:nth-of-type(1) {
            margin-right: 18px;
        }
    }
    .news__line {
        width: 100%;
        height: 1px;
        background: #BEBEBE;
        margin: 74px 0 0;
        position: relative;
        a {
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            padding: 13px 42px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid #BEBEBE;
            background-color: #fff;
            border-radius: 21px;
        }
    }
}

#contact {
    background-color: #fff;
    padding: 74px 0 28px;
    .form__parent {
        background: #F8F9FF;
        padding: 33px 120px 44px 39px;
        h4 {
            font-weight: 700;
            font-size: 36px;
            line-height: 51px;
            color: #000;
            margin-bottom: 34px;
        }
        .input__box {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 34px;
            input {
                width: 48%;
                padding: 24px 24px 29px 24px;
                border: none;
                border-radius: 5px;
                background-color: #fff;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #A8A8A8;
                outline: none;
            }
        }
        select {
            width: 100%;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #A8A8A8;
            padding: 24px 24px 29px 24px;
            border: none;
            margin-bottom: 34px;
            border-radius: 5px;
            outline: none;
        }
        textarea {
            width: 100%;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #A8A8A8;
            padding: 24px 24px 29px 24px;
            border: none;
            margin-bottom: 29px;
            border-radius: 5px;
            resize: none;
            outline: none;
        }
        input::placeholder,
        textarea::placeholder {
            color: #A8A8A8;
        }
        button {
            background: #2E8EDA;
            border-radius: 3px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #FFF;
            border: none;
            padding: 17px 56px;
            margin-bottom: 38px;
        }
        .number-mail {
            width: 100%;
            display: flex;
            align-items: center;
            .number-box {
                display: flex;
                align-items: center;
                margin-right: 40px;
            }
            .mail-box {
                display: flex;
                align-items: center;
            }
            i {
                color: #fff;
                background: #2E8EDA;
                border-radius: 50%;
                padding: 13px;
                margin-right: 9px;
            }
            p {
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                color: #BDC1D6;
                margin-bottom: 3px;
            }
            h5 {
                font-weight: bold;
                font-size: 20px;
                line-height: 24px;
                color: #000;
            }
        }
    }
    .form__img {
        width: 100%;
        height: 100%;
        position: relative;
        img {
            width: 130%;
            height: 70%;
            position: absolute;
            top: 50%;
            left: -30%;
            transform: translateY(-50%);
        }
    }
}

#map {
    background-color: #fff;
    .maps__box {
        padding: 0;
    }
    iframe {
        width: 100%;
        height: 60vh;
        border-radius: 10px;
        min-height: 300px;
        margin-bottom: 54px;
    }
}

#client {
    width: 100%;
    background-color: #fff;
    h2 {
        text-align: center;
        font-weight: 700;
        font-size: 32px;
        line-height: 51px;
        color: #000;
        margin-bottom: 45px;
    }
    .slider__brand {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        .slider__brand_item {
            width: 120px;
            img {
                width: 100%;
                width: 120px;
            }
        }
        .owl-nav {
            display: flex;
            justify-content: center;
            // background-color: red !important;
            padding: 10px 0;
        }
    }
}

// FOOTER
footer {
    padding: 60px 0;
    background-color: #2E8EDA;
    .footer__logo-img{
        display: flex;
        align-items: center;
        color: white;
        font-weight: 700;
        font-size: 11px;
        text-transform: uppercase;
        text-decoration: none;
    }
    .footer__logo p {
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 27px;
        text-align: left;
        color: white;
        margin-top: 20px;
        span {
            color: white;
        }
    }
    .more {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: white;
        text-decoration: none;
    }
    h3 {
        color: white;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        text-transform: uppercase;
        margin-top: 10px;
    }
    h3::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: #1EB53A;
        transition: 500ms;
        margin-top: 10px;
    }
    h3:hover::after {
        width: 58px;
    }
    .footer__about ul li {
        line-height: 41px;
        a {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            color: white;
            text-decoration: none;
        }
    }
    .footer__about_bussiness ul li {
        line-height: 41px;
        a {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            color: white;
            text-decoration: none;
        }
    }
    .footer__media ul li {
        margin-left: 8px;
    }
    .footer__line {
        border-top: 2px solid rgba(255, 255, 255, 0.18);
        padding-left: 15px;
        ul {
            padding: 0 15px;
            li {
                margin-right: 15px;
                a {
                    color: white;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 21px;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
        }
        p {
            color: white;
            font-size: 12px;
            font-weight: 500;
        }
        .social li {
            color: white;
            a i {
                font-size: 18px;
            }
        }
        .text {
            // text-align: end;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 27px;
            /* identical to box height, or 193% */
            color: white;
            span {
                color: black;
            }
        }
    }
}

// =========== NEWS ===========
.news {
    width: 100%;
    background-color: #2E8EDA;
    text-align: center;
    padding: 50px 0;
    color: white;
    h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 20px;
    }
    span {
        color: white;
    }
    a {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: white;
        text-decoration: none;
    }
    a:last-of-type {
        color: white;
    }
}

.news__items {
    background-color: white;
    .small__news {
        img {
            border-radius: 5px;
            height: 217px;
        }
    }
    .type {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        line-height: 15px;
        padding: 7px 18px;
        background: #FC6215;
        color: #fff;
        border-radius: 5px;
        margin: 16px 0 10px;
    }
    .news__title {
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
        margin-bottom: 9px;
    }
    .news__text {
        font-size: 14px;
        line-height: 21px;
        color: #848E9F;
        text-align: justify;
        margin-bottom: 11px;
    }
    .info-time {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #BDC1D6;
        i {
            margin-right: 7px;
        }
        span:nth-of-type(1) {
            margin-right: 18px;
        }
    }
    .news__line {
        width: 100%;
        height: 1px;
        background: #BEBEBE;
        margin: 74px 0 0;
        position: relative;
        a {
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            padding: 13px 42px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid #BEBEBE;
            background-color: #fff;
            border-radius: 21px;
        }
    }
}

.news__inner{
    padding: 30px 0 85px;
     // multimedia

     .video__item{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        
        &:hover{
            .video__hover{
                opacity: 1;
                // transform: scale(1);
            }
        }
       .video__hover{
           width: 100%;
           height: 100%;
           background: rgba(0, 128, 0, 0.534);
           position: absolute;
           top: 0;
           left: 0;
           z-index: 999;
        //    transform: scale(0);
           opacity: 0;
           transition: 500ms;
           display: flex;
           justify-content: center;
           align-items: center;
           .fas{
               color: white;
               font-size: 30px;
           }
          
       }
   }
    .news__inner_one-col{
        p{
            font-weight: 500;
            font-size: 16px;
            line-height: 32px;
            color: #7C7F8E;
            margin-bottom: 20px;
            // text-align: justify;
        }
        strong{
            margin-bottom: 16px;
        }
    }
    .news__inner-title{
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 22px;
    }
    .job__time{
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        color: #7C7F8E;
        margin-bottom: 15px;
        i{
            font-size: 24px;
            color: #2E8EDA;
            margin-right: 17px;
        }
    }
    .useful__link{
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        &:last-child{
            margin-bottom: 47px;
        }
        &_img{
            width: 84px;
            height: 74px;
            margin-right: 12px;
        }
        &_link{
            width: 50%;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: #000000;
        }
    }
    ul{
        li{
            font-weight: 500;
            font-size: 16px;
            line-height: 32px;
            color: #7C7F8E;
            margin: 10px 0;
        }
    }
    .keywords{
        a{
            display: inline-block;
            padding: 4px 16px;
            font-weight: 500;
            font-size: 16px;
            line-height: 32px;
            color: #FFFFFF;
            background: #283A5E;
            border-radius: 5px;
            margin: 5px;
            &:hover{
                text-decoration: none;
            }
        }
    }
}

// Category

.main{
    background-color: white;
    padding: 40px 0;
    .category{
        width: 100%;
        h4{
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
        }
        ul{
            background-color:  #F4F4F4;
         a{
             font-size: 16px;
             padding: 20px;
             display: block;
            font-weight: 500;
             line-height: 20px;
            color: #7C7F8E;
             text-decoration: none;
             transition: 500ms;
             &:hover{
                background-color: #2E8EDA;
                color: white;
             }
           
         }
         .active{
            background-color: #1EB53A;
            color: white;
         }
        }
    }
    .work{
        padding-bottom: 20px;
    }
   .social{
       h5{
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 22px;
       }
       ul{
           li{
               margin: 10px 0;
               a{
                   display: flex;
                   color: #7C7F8E;
                   img{
                       max-width: 50px;
                       height: 50px;
                    //    border-radius: 3px;
                       margin-right: 10px;
                   }
               }
           }
       }
   }
    ol li{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        color: #7C7F8E;
    }
    // about 
    p{

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        color: #7C7F8E;
        span{
            color: black;
            font-weight: 700;
        }
    }
}

.globus__img{
    height: auto !important;
    background: #2E8EDA !important;
    position: relative;
    img{
        height: 100vh;
        // margin-left: 25%;
    }
    .contact__address-contact-text{
        position: absolute;
        left: 50%;
        top: 90px;
        transform: translate(-50%);
        h3{
            font-weight: 700;
            font-size: 36px;
            line-height: 56px;
            text-align: center;
            color: #FFF;
            margin-bottom: 145px;
        }
        div{
            display: flex;
            flex-wrap: wrap;
            ul{
                width: 245px;
                border-top: 1px solid white;
                padding-top: 9px;
                &:nth-child(1){
                    margin-right: 35px;
                }
                li{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 32px;
                    color: white;
                }
                .name{
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 32px;
                    color: black;
                }
            }
        }
    }
}

// eiz-vazifa
.about__text {
    width: 100%;
    background-color: white;
    overflow: hidden;
    padding-top: 500px;
    padding-bottom: 100px;
    .eiz-vazifa-text{
        font-weight: 500;
        font-size: 16px;
        line-height: 29px;
        color: #7C7F8E;
        text-align: justify;
        margin: 31px 0;
    }
    ul {
        list-style-type:  disc !important;
        padding-left: 15px;
        li {
            list-style: disc !important;
            font-weight: 500;
            font-size: 16px;
            line-height: 29px;
            color: #7C7F8E;
            margin-top: 20px;
        }
    }
}
@keyframes anim{
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}
@media (max-width: 470px) {
    .header__bg{
        .about__inner{
            .about__inner-item{
                img{
                    height: 250px !important;
                    // top: calc(50% + 270px);
                }
            }
        }
    }
    .about__text{
            padding-top: 120px !important;
            padding-bottom: 20px !important;
        .eiz-vazifa-text{
            line-height: 20px !important;
            margin: 10px 0 !important;
        }
        ul{
            li{
                margin-top: 0;
            }
        } 
       
    }
}
@media(max-width: 575px){
    .main__menu{
        .header__nav-menu{
            .header__menu{
                width: 100% !important;
                padding: 0.75rem;
                li{
                    a{
                        font-size: 16px !important;
                        font-weight: 600;
                        padding: 0.3rem 0;
                    }
                }
                .dropdown__parent{
                    font-size: 16px !important;
                    font-weight: 600;
                    i{
                        color: #283A5E;
                        font-size: 16px !important;
                        font-weight: 600;
                    }
                    .dropdown__menu{
                        li{
                            margin: 0 0 0 0.75rem;
                            a{
                                font-size: 12px !important;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
       
    }
    .header__bg{
        .about__inner{
            .about__inner-item{
                // overflow: hidden;
                // padding-bottom: 100px;
                h2{
                    font-size: 37px !important;
                    line-height: 45px !important;
                   
                }
                p{
                    font-size: 12px !important;
                }
            }
        }
    }
    #contact{
        padding: 30px 0 0;
        .form__parent{
            padding: 15px;
            h4{
                font-size: 1.15rem !important;
                line-height: 24px !important;
                margin-bottom: 20px;
            }
            .input__box{
                margin-bottom: 24px;
                input{
                    padding: 12px !important;
                    &::placeholder{
                        font-size: 12px;
                        color: grey;
                    }
                }
            }
            select{
                padding: 15px;
                margin-bottom: 28px;
                font-size: 14px;
                &::placeholder{
                    font-size: 12px;
                    color: grey;
                }
            }
            textarea{
                height: 180px;
            }
            button{
                font-size: 12px;
                margin-bottom: 20px;
                padding: 10px 20px;
            }
            .number-mail{
                .number-box{
                    margin-right: 15px;
                }
                i{
                    font-size: 10px;
                     padding: 7px;
                     margin-right: 4px;
                }
               
                p{
                    font-size: 8px;
                    line-height: 12px;
                    margin-bottom: 0;
                }
                h5{
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
      
    }
}
@media(max-width: 767px){

    .lang-dropdown-menu{
        padding: 0.25rem 0;
        a{
            padding: 0.1rem 1.5rem;
            font-size: 12px;
        }
    }
    .scroll__top{
        width: 40px;
        height: 50px;
    }
    .logo{
        max-width: 180px;
    }
    header {
         // contact page
         .globus__img{
         
             .contact__address-contact-text{
                top: 40px;
                 h3{
                     font-size: 26px;
                     line-height: 30px;
                     margin-bottom: 30px;
                 }
                 div{
                     flex-wrap: nowrap;
                     padding-bottom: 10px;
                     ul{
                         li{
                             line-height: 20px;
                             font-size: 14px;
                         }
                     }
                 }
             }
            img{
                max-width: 100%;
                height: 300px;
                // margin-left: 0%;
            }
          }
       
        .header__logo__address {
            a{
                font-size: 10px;
            }
            .header__logo__address-icon-lang{
                i{
                    margin: 0 4px;
                }
            }
        }

        // whether
        .header__weather-money{
            padding-bottom: 10px;
            .col-3:nth-child(1){
                padding-left: 15px;
            }
            .col-3{
                padding: 0 4px;
            }
            .weather-logo{
                margin-right: 2px;
                font-size: 20px; 
            }
            .weather{
                text-align: left;
                p{
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 10px;
                }
                .weather-dropdown-btn{
                    font-size: 11px;
                    line-height: 10px;
                    &::after{
                        margin-left: 0;
                    }
                }
                .dropdown{
                    font-size: 10px;
                }
                .weather-dropdown-menu{
                    a{
                        font-size: 12px;
                        padding: 2px 8px;
                    }
                }
            }
            .money-btn{
                border-radius: 5px;
                padding: 6px;
                font-size: 12px;
                line-height: 14px;
            }
            .money-dropdown-menu{
                a{
                    font-size: 12px;
                    padding: 4px 8px;
                }
            }
            .money-degree{
                p{
                    font-weight: 500;
                    font-size: 9px;
                    line-height: 10px;
                    margin-bottom: 0;
                }
                h5{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 14px;
                    i{
                        font-size: 12px;
                    }
                }
            }
            .purchase{
                i{
                    transform: translateY(-3px);
                }
            }
            .sell{
                i{
                    transform: translateY(3px);
                }
            }
        }
         // down icons
        .header__bg{
            .header__down_btn{
                margin: 15px auto 30px;
                width: 25px;
                height: 40px;
                border-radius: 17.5px;
                padding: 12px 6px;
            }
            .header__progress{
                height: 3px;
                margin-bottom: 14px;
            }
            .afzallik{
                li{
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                }
            }
            .dostona{
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                text-align: left;
            }
            .trinity__boxes{
                &-text{
                    padding: 18px 15px;
                    h5{
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 18px;
                    } 
                }
                &-img{
                    height: 140px;
                }
            }
        }
       
        
        // slider
        .sliders {
            .slide{
                h1{
                    font-size: 28px;
                    line-height: 35px;
                    margin-top: 100px;
                    margin: 40px 0 20px;
                }
                p{
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 18px;
                    margin-bottom: 25px;
                }
                .slider__btns{
                    .more_info{
                        font-size: 13px;
                        font-weight: 400;
                        padding: 8px 12px;
                    }
                    .contact__btn{
                        font-size: 13px;
                        font-weight: 400;
                        padding: 8px 12px;
                    }
                }
            }
        }
    }
    .pb-60{
        padding-bottom: 25px;
    }
    #about{
        padding: 40px 0 30px;
       .about__col{
           .green_text{
               font-size: 18px;
               line-height: 30px;
           }
           h3{
            font-size: 30px;
            line-height: 35px;
           }
           .about_index__text{
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 7px;
            padding: 0;
           }
           a{
            font-size: 16px;
            line-height: 28px;
           }
       } 
       .about__map{
          padding: 30px 0 30px; 
       }
    }
    #news{
        .news-btns{
            margin-bottom: 20px;
            border-radius: 5px;
            padding: 4px;
            button{
                font-size: 14px;
                padding: 7px 0;
                border-radius: 5px;
            }
        }
        .big__news{
            .big__news__photos{
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
        .type{
            margin: 12px 0 6px;
            font-size: 10px;
            line-height: 12px;
            padding: 5px 10px;
        }
        .news__title{
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 6px;
        }
        .news__text{
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 8px;
        }
        .info-time{
            font-size: 10px;
            line-height: 14px;
            i {
                margin-right: 3px;
            }
            span:nth-of-type(1) {
                margin-right: 8px;
            }
        }
        .news__line{
            margin-top: 50px;
            a{
                font-size: 12px;
                line-height: 14px;
                padding: 10px 20px;
                border-radius: 15px;
            }
        }
    }
    // contact glavniy
    #contact{
        padding: 30px 0 0;
        .form__parent{
            padding: 20px;
            h4{
                font-size: 26px;
                line-height: 30px;
                text-align: center;
            }
            .input__box{
                margin-bottom: 28px;
                input{
                    padding: 15px;
                    &::placeholder{
                        font-size: 12px;
                        color: grey;
                    }
                }
            }
            select{
                padding: 15px;
                margin-bottom: 28px;
                font-size: 14px;
                &::placeholder{
                    font-size: 12px;
                    color: grey;
                }
            }
            textarea{
                height: 180px;
            }
            button{
                font-size: 12px;
                margin-bottom: 20px;
                padding: 10px 20px;
            }
            .number-mail{
                .number-box{
                    margin-right: 15px;
                }
                i{
                    font-size: 10px;
                     padding: 7px;
                     margin-right: 4px;
                }
               
                p{
                    font-size: 8px;
                    line-height: 12px;
                    margin-bottom: 0;
                }
                h5{
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
      
    }
    #client{
        h2{
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 35px;
        }
        .slider__brand_item{
            img{
                width: 20px;
            }
        }
    }
    // eiz-vazifasi page
    .header__bg{
        .about__inner{
            .about__inner-item{
                // overflow: hidden;
                padding-bottom: 50px;
                h2{
                    font-size: 35px !important;
                    line-height: 40px !important;
                   
                }
                p{
                    font-size: 14px;
                    line-height: 18px;
                }
                img{
                    height: 350px;
                    top: calc(50% + 240px);
                }
            }
        }
    }
    .about__text{
             font-size: 12px;
            padding-top: 180px;
            padding-bottom: 30px;
        .eiz-vazifa-text{
            font-size: 12px;
            line-height: 25px;
            margin: 20px 0;
           
        }
        ul{
            li{
                margin-top: 5px;
                font-size: 12px;
                line-height: 22px;
            }
        } 
       
    }
    //  news page
    .news{
        h2{
            font-size: 32px;
        }
    }
  
    // new-inner page
    .news__items{
        .news__inner_one-col{
            p{
                font-size: 12px;
                line-height: 24px;
                margin-bottom: 10px;
            }
           
        }
        
        .news__inner-title{
           
            margin-bottom: 20px !important;
        }
        .job__time{
            font-size: 12px;
            margin-bottom: 0 !important;
            .far{
                font-size: 14px;
            }
            .fas{
                font-size: 14px;
            }
        }
        .useful__link{
            .useful__link_link{
                font-size: 12px;
                line-height: 20px;
            }
        }
        ul{
            li{
                font-size: 14px;
                line-height: 26px;
            }
        }
        .keywords{
            display: flex;
            flex-wrap: wrap;
           a{
            padding: 2px 8px;
            font-size: 12px;
           }

        }
    }
    // footer
    footer{
        padding: 30px 0;
    }
}
@media(max-width: 992px){
    .main__menu{
        .header__nav-menu{
            .menu__btn{
                display: block;
            }
            .header__menu{
                transform: translateX(-100%);
                width: 60%;
                height: 100vh;
                display: flex;
                justify-content: center;
                flex-direction: column;
                position: fixed;
                z-index: 100;
                top: 0;
                left: 0;
                padding: 15px;
                background-color: #fff;
                color: #000;
                transition: all 0.7s;
                &.active{
                    transform: translate(0);
                }
                .menu__close{
                    display: block;
                    z-index: 101;
                }
                .dropdown__parent{
                    padding: 10px 0;
                    font-size: 20px;
                    font-weight: 700;
                    color: rgb(17,17,17);
                    margin-right: 0;
                    border-bottom: 1px solid #bebebe;
                    i{
                        color: #283A5E;
                        font-size: 18px;
                        font-weight: 700;
                    }
                    .dropdown__menu{
                        display: none;
                        position: relative;
                        top: 0;
                        background-color: #ffff;
                        box-shadow: none;
                        li{
                            border: none;
                            border-top: 1px solid #c8c8c8;
                            margin: 0 0 0 0.75rem;
                            padding: 0.25rem 0;
                            a{
                                font-size: 16px;
                                font-weight: 700;
                                padding: 0;
                                color: rgb(17,17,17);
                            }
                        }
                    }
                }
                li{
                    font-size: 12px;
                    margin-right: 0;
                    color: black;
                    border-bottom: 1px solid #bebebe;
                    a{
                        font-size: 20px;
                        font-weight: 700;
                        padding: 0.5rem 0;
                        color: black;
                        margin-right: 0;
                    }
                }
            }
            .office_phone{
                font-size: 16px;
            }
        }
       
    }
}
@media(min-width: 768px) and (max-width: 992px){
    // index page
    #news{
        .big__news{
            .big__news__photos{
                img{
                    width: 100%;
                    height: 60vh !important;
                }
            }

        }
        .type{
            margin: 10px 0 8px;
            padding: 5px 8px;
            font-size: 10px;
        }
        .news__title{
            font-size: 18px;
            line-height: 20px;
        }
        .news__text{
            line-height: 18px;
        }
        .info-time{
            i{
                font-size: 12px;
                margin-right: 4px;
            }
            span{
                font-size: 10px;
                &:nth-of-type(1){
                    margin-right: 12px;
                }
            }
        }
        .small__news{
            img{
                height: 170px;
            }
        }
    }
     // contact page
     header{
        .globus__img{
            .contact__address-contact-text{
                h3{
                    font-size: 36px;
                    line-height: 40px;
                    margin-bottom: 30px;
                }
                div{
                    flex-wrap: nowrap;
                    padding-bottom: 10px;
                    ul{
                        li{
                            line-height: 20px;
                            font-size: 14px;
                            
                        }
                    }
                }
            }
           img{
               max-width: 500px;
               max-height: 500px;
               margin-left: 0%;
           }
         }
     }
    .office_phone{
        font-size: 18px;
    }
    // sirdary-eiz-why page
    .main{
        .category{
            ul{
                li{
                    a{
                        padding: 15px;
                    }
                }
            }
        }
        .social{
            ul{
                li{
                    a{
                        font-size: 12px;
                    }
                }
            }
        }
    }
    // eiz-vazifasi page
    .header__bg{
        .about__inner{
            .about__inner-item{
                h2{
                    font-size: 45px;
                    line-height: 50px;
                   
                }
                p{
                    margin-bottom: 0;
                }
                img{
                    height: 500px;
                    top: calc(50% + 300px);
                }
            }
        }
    }
    .about__text{
        padding-top: 260px !important;
        padding-bottom: 30px !important;
    }

}
@media(min-width: 992px) and (max-width: 1200px){
    .main__menu{
        .header__nav-menu{
            .header__menu{
                li{
                    margin: 0 5px;
                }
            }
        }
    }
    .office_phone{
        font-size: 20px;
    }
    .about__text{
        padding-top: 240px !important;
        padding-bottom: 30px !important;
    }
}
@media(min-width: 1200px){
    .about__text{
        padding-top: 300px !important;
        padding-bottom: 30px !important;
    }
}
